@font-face {
  font-family: 'Nacelle';
    src: url('fonts/Nacelle-Regular.ttf') format('truetype'),
          url('fonts/Nacelle-Regular.woff') format('woff'),
          url('fonts/Nacelle-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nacelle';
  src: url('fonts/Nacelle-Italic.ttf') format('truetype'),
        url('fonts/Nacelle-Italic.woff') format('woff'),
        url('fonts/Nacelle-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'Nacelle';
    src: url('fonts/Nacelle-Bold.ttf') format('truetype'),
          url('fonts/Nacelle-Bold.woff') format('woff'),
          url('fonts/Nacelle-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nacelle';
    src: url('fonts/Nacelle-BoldItalic.ttf') format('truetype'),
          url('fonts/Nacelle-BoldItalic.woff') format('woff'),
          url('fonts/Nacelle-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nacelle';
    src: url('fonts/Nacelle-BlackItalic.ttf') format('truetype'),
          url('fonts/Nacelle-BlackItalic.woff') format('woff'),
          url('fonts/Nacelle-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
	--default-font-family: "Nacelle";
	--heading-font-family: "Nacelle";
}
