@font-face {
	font-family: "Nacelle";
	src: url("./fonts/Nacelle-Regular.otf");
}

@font-face {
	font-family: "Nacelle";
	src: url("./fonts/Nacelle-Italic.otf");
	font-style: italic;
}

@font-face {
	font-family: "Nacelle";
	src: url("./fonts/Nacelle-Bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: "Nacelle";
	src: url("./fonts/Nacelle-BoldItalic.otf");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Nacelle";
	src: url("./fonts/Nacelle-BlackItalic.otf");
	font-weight: 900;
	font-style: italic;
}

.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
	--default-font-family: "Nacelle";
	--heading-font-family: "Nacelle";
}
