DATABASE_URL="postgresql://postgres:postgres@db:5432/sill"
MASTODON_REDIRECT_URI="http://localhost:3000/mastodon/auth/callback/"
ENVIRONMENT=local
NODE_ENV=development
USE_SSL=false
TRAEFIK_DASHBOARD_AUTH=admin:user:password
WEB_DOMAIN=localhost
DOZZLE_DOMAIN=dozzle.localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sill
UPDATE_BATCH_SIZE=50
VITE_PUBLIC_DOMAIN=http://localhost:3000

# Fill these out
MAILGUN_API_KEY=
VITE_ADMIN_EMAIL=
EMAIL_DOMAIN=

# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
SCRAPE_SHARE_THRESHOLD=5

# Optional
# POLAR_WEBHOOK_SECRET=
# POLAR_ACCESS_TOKEN=
# SUCCESS_URL=
