node_modules

/.cache
/build
.env
postgres-data
redis-data
.DS_Store
.vercel
public/sw.js
.env.production
dozzle
.react-router
CLAUDE.md
.turbo
.tsc-build
build
dist
tsconfig.tsbuildinfo

apps/ios/Sill/Sill.xcodeproj/xcuserdata/
apps/ios/Sill/Sill.xcodeproj/project.xcworkspace/xcuserdata/
apps/ios/Sill/Sill.xcodeproj/project.xcworkspace/xcshareddata/