services:
  db:
    image: postgres:latest
    volumes:
      - sill_postgres_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - net
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"
  
  pgbouncer:
    container_name: pgbouncer
    image: edoburu/pgbouncer:latest
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_NAME=sill
      - AUTH_TYPE=scram-sha-256
      - POOL_MODE=transaction
      - ADMIN_USERS=postgres
      - MAX_CLIENT_CONN=200
      - MIN_POOL_SIZE=10
      - RESERVE_POOL_SIZE=10
      - MAX_DB_CONNECTIONS=50
    ports:
      - "5432:5432"
    depends_on:
      - db
    networks:
      - net
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "6"
    healthcheck:
      test: ['CMD', 'pg_isready', '-h', 'localhost']

volumes:
  sill_postgres_db:

networks:
  net:
    driver: bridge