.logo-header {
  font-weight: 900;
  font-style: italic;
  text-align: left;
  color: var(--accent-11);
  text-transform: lowercase;
  padding-top: 1rem;
}

.logo-link {
  color: inherit;
  text-decoration: none;
}
