.bug {
  top: 56px;
  background-color: #FFF394;
  scroll-margin-top: 56px;
}

.dark .bug {
  background-color: #2D2305;
}

@media (min-width: 1024px) {
  .bug {
    top: 0px;
    scroll-margin-top: 0px;
  }
}