.mobile-logo,
.onboarding-logo {
	display: block;
	text-align: center;
}

.desktop-logo {
	display: none;
	text-align: left;
}

.marketing-logo {
	text-align: center;
}

.logo-heading {
	font-weight: 900;
	font-style: italic;
	color: var(--accent-11);
	text-transform: lowercase;
	padding-top: 1rem;
}

@media (min-width: 1025px) {
	.mobile-logo {
		display: none;
	}

	.desktop-logo {
		display: block;
	}

	.marketing-logo > h1 {
		font-size: 120px;
	}
}

.logo-link {
	color: inherit;
	text-decoration: none;
}
