.nav-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
/* 
.nav-list-item-label {
	display: none;
} */

.nav-list-item-icon {
	width: 24px;
	height: 24px;
  vertical-align: middle;
  line-height: 1;
  position: relative;

}

@-moz-document url-prefix() {
  .nav-list-item-icon {
      transform: translateY(-1px);
  }
}

.nav-list {
  width: 100%;
}

.nav-list-item-label {
  display: inline;
}

.nav-list-item-btn {
  width: 100%;
  justify-content: flex-start;
}

.nav-list-item {
  margin-bottom: 0.75rem;
  width: 100%;
}
.nav-list-item-icon {
  width: 20px;
  height: 20px;
}