.banner {
  background-color: var(--accent-3);
  color: var(--accent-11);
  top: 57px;
  position: relative;
}

.banner a {
  color: var(--accent-11);
}

.text {
  font-size: 14px;
  text-align: center;
}


@media (min-width: 1024px) {
  .banner {
    top: 0;
  }
}
