.filter-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--accent-2);
  z-index: 1;
  border-top: 1px solid var(--gray-a6);
}

@media (min-width: 768px) {
  .filter-wrapper {
    display: none;
  }
}

.collapsible {
	overflow: hidden;
}
.collapsible[data-state="open"] {
	animation: slideDown 200ms ease-out;
}
.collapsible[data-state="closed"] {
	animation: slideUp 200ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
